<div class="modal fade" id="openModalEditExpediente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Editar expediente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form id="openModalEditExpediente__form">
            <div class="mb-3">
              <select class="form-select" id="editTipoSangre">
                <option selected>Seleccione el tipo de sangre</option>
                <option value="Tipo A">Tipo A</option>
                <option value="Tipo B">Tipo B</option>
                <option value="Tipo AB">Tipo AB</option>
                <option value="Tipo O">Tipo O</option>
              </select>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="editTipoAlergia" placeholder="Tipo de alergia">
              <small class="infoAlert ps-1 py-1 border-bottom"></small>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="editPadecimientoCronico" placeholder="Padecimiento crónico">
              <small class="infoAlert ps-1 py-1 border-bottom"></small>
            </div>
            <div class="mb-3">
              <input type="date" class="form-control" id="editFechaCreacion" placeholder="Ingrese fecha de creación">
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="buttonGuardar gato">Guardar</button>
            </div> 
          </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>