<div class="modal fade" id="openModalAddNewEspecialist" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Nuevo Especialista</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form id="openModalAddNewEspecialist__form">
           <div class="mb-3">
             <input type="text" class="form-control" id="nombre" placeholder="Nombre">
             <small class="infoAlert ps-1 py-1 border-bottom"></small>
           </div>
           <div class="mb-3">
             <input type="text" class="form-control" id="apellido" placeholder="Apellido">
             <small class="infoAlert ps-1 py-1 border-bottom"></small>
           </div>
           <div class="mb-3">
             <select class="form-select" id="sexo">
               <option selected>Seleccione Sexo</option>
               <option value="M">Masculino</option>
               <option value="F">Femenino</option>
             </select>
           </div>
           <div class="mb-3">
             <input type="date" class="form-control" id="fechaNacimiento">
           </div>
           <div class="mb-3">
             <input type="text" class="form-control" id="especialidad" placeholder="Especialidad">
             <small class="infoAlert ps-1 py-1 border-bottom"></small>
           </div>
      
           <div class="d-grid gap-2">
             <button type="submit" class="btn btn-primary gato">Guardar</button>
           </div> 
         </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>