<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de administración Clinica</title>
    {{!-- Instalación de css --}}
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrapicons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- Estoy en el Layout main -->
      {{{body}}}
    {{!-- Instalación js --}}
    <script src="/bootstrapjs/bootstrap.min.js"></script>
    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <script src="/axios/axios.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
   
    <script type="module" src="/js/main.js"></script>
</body>
</html>